<table class="sy-xp-bar-table">
    <tr>
        <td style="text-align: left;">
            <img *ngIf="icon" [src]="icon" class="sy-xp-icon"/>
            <span *ngIf="label" class="sy-xp-label">
                {{label}}
            </span>
        </td>
        <td style="text-align: right;">
            <span class="sy-xp-level">Lv.{{level}} - {{xpPercent}}%</span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="sy-xp-bar">
                <div class="sy-xp-bar-fill" [style.width.%]="xpPercent"></div>
            </div>
        </td>
    </tr>
</table>