<div class="login-container" @fadeIn>
    <div class="login-form">
        <div style="width: 100%; text-align: center;">
            <img src="/images/sy-icon-no-bg.png" width="100px" height="100px"/>
        </div>
        <form *ngIf="!isLoginInProgress" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="login" placeholder="Login" class="login-input w100">
            <input type="password" formControlName="password" placeholder="Password" class="login-input w100">
            <div style="width: 100%; text-align: center;">
                <button type="submit" class="sy-button">Login</button>

            </div>
        </form>
        <span *ngIf="isLoginInProgress" style="width: 100%; text-align: center;">Login in progress</span>
        <span style="color: red;">{{error}}</span>
    </div>
</div>