<div class="sy-page" @fadeIn>
    <div class="sy-card">
        <div class="sy-card-title">
            User
        </div>
        <div class="sy-card-content">
            <table *ngIf="user" class="w100">
                <tr>
                    <td style="width: 1px; white-space: nowarp;">
                        <img [src]="user.avatar" class="sy-img" width="100px" height="100px"/>
                    </td>
                    <td style="vertical-align: top;;">
                        <div style="font-weight: bold;">{{user.name}}</div>
                        <div>{{user.email}}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <xp-bar [xpPercent]="user.xpPercentFrontEnd" [level]="user.levelFrontEnd" [label]="'FrontEnd'" [icon]="'/images/icon-frontend.svg'"></xp-bar>
                        <xp-bar [xpPercent]="user.xpPercentBackEnd" [level]="user.levelBackEnd" [label]="'BackEnd'" [icon]="'/images/icon-backend.svg'"></xp-bar>
                        <xp-bar [xpPercent]="user.xpPercentTests" [level]="user.levelTests" [label]="'Tests'" [icon]="'/images/icon-tests.svg'"></xp-bar>
                        <xp-bar [xpPercent]="user.xpPercentManagement" [level]="user.levelManagement" [label]="'Management'" [icon]="'/images/icon-management.svg'"></xp-bar>
                    </td>
                </tr>
            </table>

            <span *ngIf="!user">No user loaded</span>
        </div>
    </div>
</div>